body {
  background-color: #1978FF;
  height: 900px;
  width: 900px;
}
#map {
  margin-left: 14%;
  border: solid, thin, black;
}

#title {
  position: relative;
  margin-left: 35%;
  color: #B2EB00;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  background-color: #B2EB00;
  height: 600px;
  margin-left: 7%;
}
